<div class="row dashboard-container">
  <div class="col-lg-12">
    <div class="row dashboard-header-deatails">
      <div class="col-lg-3 col-md-6 col-xs-12 ">
        <div class="row mr-md-0 border bg-light d-flex justify-content-center align-items-center">
          <div class="col-4">
            <i class="material-icons">
              folder_open
            </i>
          </div>
          <div class="col-3">
            <h1>12</h1>
          </div>
          <div class="col-5">
            <div class="d-flex flex-column">
              <small>Total</small>
              <b  class="font-weight-bold">Projects</b>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12 ">
        <div class="row mr-md-0 border bg-light d-flex justify-content-center align-items-center">
          <div class="col-4">
            <i class="material-icons">
              person
            </i>
          </div>
          <div class="col-3">
            <h1>12</h1>
          </div>
          <div class="col-5">
            <div class="d-flex flex-column">
              <small>Machines</small>
              <b  class="font-weight-bold">Operators</b>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12 ">
        <div class="row mr-md-0 border bg-light d-flex justify-content-center align-items-center">
          <div class="col-4">
            <i class="material-icons">
              local_taxi
            </i>
          </div>
          <div class="col-3">
            <h1>12</h1>
          </div>
          <div class="col-5">
            <div class="d-flex flex-column">
              <small>Total</small>
              <b  class="font-weight-bold">Machines</b>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="row  mr-md-0 border bg-light">
          <div class="col-4 d-flex justify-content-center align-items-start">
            <div class="d-flex flex-column" style="color:#ad0000;">
              <h4>02</h4>
              <small  class="font-weight-bold">Red</small>
            </div>
          </div>
          <div class="col-4 d-flex justify-content-center align-items-start">
            <div class="d-flex flex-column" style="color:#FFBF00;">
              <h4>02</h4>
              <small  class="font-weight-bold">Orange</small>
            </div>
          </div>
          <div class="col-4 d-flex justify-content-center align-items-start">
            <div class="d-flex flex-column" style="color:green;">
              <h4>02</h4>
              <small  class="font-weight-bold">Breen</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row dashboard-container">
  <div class="col-lg-12">
    <app-projects></app-projects>
  </div>
</div>
