<div class="row dashboard-header-deatails">
  <div class="col-lg-6 d-flex p-0 justify-content-start align-items-center">
    <h3>Dashboard</h3>
  </div>
  <div class="col-lg-6 d-flex justify-content-lg-end justify-content-sm-start">
    <div class="d-flex flex-column">
      <small>Welcome: <b>Ankit Keshari</b></small>
      <small>Last login: <b> 2 days ago</b></small>
    </div>
  </div>
</div>
<div class="row dashboard-header-deatails">
  <div class="col-lg-3 col-md-6 col-xs-12 ">
    <div class="row mr-md-0 header-box d-flex justify-content-center align-items-center">
      <div class="col-4">
        <i class="material-icons">
          folder_open
        </i>
      </div>
      <div class="col-3">
        <h1>12</h1>
      </div>
      <div class="col-5">
        <div class="d-flex flex-column">
          <small>Total</small>
          <b>Projects</b>
        </div>
      </div>
    </div>
  </div>
    <div class="col-lg-3 col-md-6 col-xs-12 ">
    <div class="row mr-md-0 header-box d-flex justify-content-center align-items-center">
      <div class="col-4">
       <i class="material-icons">
          person
        </i>
      </div>
      <div class="col-3">
        <h1>12</h1>
      </div>
      <div class="col-5">
        <div class="d-flex flex-column">
          <small>Machines</small>
          <b>Operators</b>
        </div>
      </div>
    </div>
  </div>
    <div class="col-lg-3 col-md-6 col-xs-12 ">
    <div class="row mr-md-0 header-box d-flex justify-content-center align-items-center">
      <div class="col-4">
       <i class="material-icons">
          local_taxi
        </i>
      </div>
      <div class="col-3">
        <h1>12</h1>
      </div>
      <div class="col-5">
        <div class="d-flex flex-column">
          <small>Total</small>
          <b>Machines</b>
        </div>
      </div>
    </div>
  </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
    <div class="row  mr-md-0 header-box">
      <div class="col-4 d-flex justify-content-center align-items-start">
        <div class="d-flex flex-column" style="color:#ad0000;">
          <h4>02</h4>
          <small>Red</small>
        </div>
      </div>
      <div class="col-4 d-flex justify-content-center align-items-start">
        <div class="d-flex flex-column" style="color:#FFBF00;">
          <h4>02</h4>
          <small>Red</small>
        </div>
      </div>
      <div class="col-4 d-flex justify-content-center align-items-start">
        <div class="d-flex flex-column" style="color:green;">
          <h4>02</h4>
          <small>Red</small>
        </div>
      </div>
    </div>
  </div> 
</div>
