<div class="row dashboard-header-deatails">
  <div class="col-lg-6 d-flex p-0 justify-content-start align-items-center">
    <i *ngIf="title != 'Dashboard'" class="material-icons mr-2 mb-2" (click)="backToDashboard()" style="cursor: pointer;">arrow_back</i>
    <h3>{{title}}</h3>
  </div>
  <div class="col-lg-6 d-flex justify-content-lg-end justify-content-sm-start">
    <div class="d-flex flex-column">
      <small>Welcome: <b>Ankit Keshari</b></small>
      <small>Last login: <b> 2 days ago</b></small>
    </div>
  </div>
</div>
