table {
  width: 100%;
  overflow: scroll;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 17%;
}

.mat-row, .mat-header-row {
  width: 450vw; 
}
.mat-header-row {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
  background-color: inherit;
}